@import url(fonts.css);

:root {
    --primary-color: #7177F1;
    --body: #fff;
    --txt-color: #323232;
    --dots: #828282;
    --dots-active: #7177F1;
    --tab-txt: #fff;
    --footer-link: #7177F1;
    --primary-font: "Montserrat";
    --secodary-font: "Trebuchet";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--body);
    font-family: var(--primary-font);
    color: var(--txt-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

.all-btn {
    background: var(--primary-color);
    color: #fff !important;
    font-size: 18px;
    padding: 12px 0;
    display: inline-block;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-align: center;
    width: 190px;
    transition: .5s;
    text-transform: uppercase;
}

.all-btn:hover {
    color: #fff;
    background: #790FF1;
}

.title {
    /* font-size: 40px; */
    font-size: calc(28px + 12 * (100vw / 1920));
    font-weight: 600;
    color: var(--primary-color);
    text-transform: capitalize;
}

.logo::before {
    content: url(../img/svg/logo-light.svg);
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    
    1% {
        transform: rotate(360deg);
        background: red;
    }
}

/* header start */

.header__nav-link {
    font-size: 24px;
    color: var(--primary-color);
    text-transform: capitalize;
}

.header__nav-link:hover {
    color: var(--primary-color);
}

.header__menu {
    width: 40px;
    height: 2px;
    position: relative;
    padding: 0;
    transition: .5s;
    border: none;
}

.header__menu.collapsed {
    background: var(--txt-color);
}

.header__menu:focus {
    box-shadow: unset;
}

.header__menu::before,
.header__menu::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--txt-color);
    transition: .5s;
}

.header__menu::before {
    top: -10px;
}

.header__menu::after {
    top: 10px;
}

.header__menu:not(.collapsed)::before {
    transform: rotate(-45deg);
    top: 0;
}
.header__menu:not(.collapsed)::after {
    transform: rotate(45deg);
    top: 0;
}

.header__carousel-image {
    max-height: 500px;
}

.header__content-subtitle {
    color: var(--txt-color);
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.header__content-title {
    margin-bottom: 25px;
}

.header__content-btn {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: 0 auto 50px;
}

.header__tech-card {
    display: grid;
    place-items: center;
    row-gap: 15px;
}

.header__tech-name {
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
}

.header__tech-card:nth-child(1) .header__tech-brand {
    color: #E44F26;
}

.header__tech-card:nth-child(2) .header__tech-brand {
    color: #1572B6;
}

.header__tech-card:nth-child(3) .header__tech-brand {
    color: #790FF1;
}

.header__carousel-indicators {
    position: static;
    order: 1;
    margin: 50px 0 0;
    column-gap: 30px;
}

.header__carousel-dot {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background-color: var(--dots) !important;
    opacity: unset !important;
    margin: 0 !important;
}

.header__carousel-dot.active {
    background-color: var(--dots-active) !important;
}

.navbar__container {
    position: relative;
}



.navbar__container::before {
    content: '';
    position: absolute;
    top: 15%;
    left: -5%;
    width: 59px;
    height: 66px;
    border-radius: 50%;
    border: 5px solid #790FF1;
    z-index: -1;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation-play-state: paused; */
    animation: rotate 3s linear infinite;
}

.navbar__container::after {
    content: '';
    position: absolute;
    top: 150%;
    right: 70px;
    width: 4vw;
    height: 4vw;
    border: 0.3vw solid #9297EF;
    z-index: -1;
    animation: rotate 3s linear infinite;
}

/* header end */

/* main start */

/* about start */

.about {
    padding: 80px 0;
}

.about__work {
    position: relative;
    font-size: 18px;
    display: block;
    transform: translateY(100%);
}

.about__work:hover {
    background: #fff;
    color: #323232 !important;
    
}

.about__work-span {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #0FDAC2;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-style: italic;
}

.about__desc {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px;
    background: var(--body);
    display: grid;
    row-gap: 25px;
}

/* about end */

/* capabilites start */

.capabilites {
    padding-bottom: 75px;
}

.capabilites__title {
    margin-bottom: 30px;
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    overflow: hidden;
}

.accordion__button {
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    column-gap: 20px;
    text-transform: uppercase;
    transition: .5s;
    position: relative;
}

.accordion__button.collapsed::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 2px;
    background: #fff;
    bottom: 0;
}

.accordion__item:nth-of-type(3) .accordion__button.collapsed::before {
    display: none;
}

.accordion__button.collapsed {
    background: var(--body);
    color: var(--primary-color);
}

.accordion__body {
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    padding: 25px 30px;
}

.accordion__item:nth-of-type(1) .accordion__button.collapsed .accardion__brand {
    color: #E44F26;
}

.accordion__item:nth-of-type(2) .accordion__button.collapsed .accardion__brand {
    color: #33A9DC;
}

.accordion__item:nth-of-type(3) .accordion__button.collapsed .accardion__brand {
    color: #790FF1;
}

.accordion__icon-down {
    font-size: 25px;
    transform: rotate(-180deg);
    transition: .5s;
}

.accordion__button.collapsed .accordion__icon-down {
    transform: rotate(0);
}

/* capabilites end */

/* works start */

.works {
    padding-bottom: 220px;
}

.works__title {
    margin-bottom: 30px;
}

.works__list {
    border-radius: 8px;
}

.works__list-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 16.5px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    background: var(--body);
    border: 0;
    transition: .5s;
}

.works__list-link.active {
    background: var(--primary-color);
    color: var(--txt-color);
}

.list-group-item+.list-group-item.active {
    margin: 0;
    border: 0;
}

.works__tab {
    padding: 20px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--body);
}

.works__tab-image {
    border-radius: 8px;
    object-fit: cover;
    min-height: 320px;
    max-height: 320px;
    object-position: top;
}

.works__tab-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.works__tab-txt {
    font-size: 18px;
    line-height: 150%;
}

.works__tab-btn {
    font-weight: 600;
    text-transform: capitalize;
}

/* works end */

/* main end */