@media (prefers-color-scheme: light) {
    :root {
        --body: #151437;
        --txt-color: #fff;
        --dots: #ebebeb;
        --tab-txt: #151437;
        --footer-link: #fff;
    }
    
    .logo::before {
        content: url(../img/svg/logo-dark.svg);
    }
}

@media (max-width: 767px) {
    
    .title {
        font-size: calc(28px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
    }
    
    .about__photo {
        width: 100%;
    }
    
}